@charset "UTF-8";

/*
 e HTML é id     = em CSS é #
 em HTML é class = em CSS é .
*/

body{
    background-color: #82DDA4;
}

#principal{
    text-align: center;
    background-color: rgb(43, 81, 6);
    color: aliceblue;
}

h1{
    color: rgb(18, 74, 34);

}

h2{
    color: rgb(67, 128, 6);
}

.basico{
   color: green;
}

.intermediario{
   color: yellow;
}

.avançado{
   color: red;
}