@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: darkgray;
    height:70px;
    overflow: auto;
   
}

header h1{
    text-align: center;
    padding-bottom: 10px;
}

nav a{
    text-decoration: none;
    background-color: rgb(104, 100, 100);
    padding: 7px;
    color: white;
}

