@charset "UTF-8";

body {
     background-color: #1848D9;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
}
 h1{
     color:#1848D9;
     background-color:#F2D338;
 }
h2{
     color:#F2F2F2; 
 }
 p{
    text-align: justify;
    color: #F2D338;
 }
 
 a{
    color: #F2D338;
 }