@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #CEF09D, #A0CD60, #1C646D);

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #38184C;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #38184C;
   text-align: center;
   text-shadow: 1px 1px 1px #1F0802;
}
h2{
    color: #1C646D;
}

p{
    text-align: justify;
    color: #1F0802;
}